<button type="button" class="btn btn-primary" (click)="openModal(template)">Create sub-category</button>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">URL</th>
            <th scope="col">Sub-category of</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cat of adminSubCategories">
            <td>{{ cat.id }}</td>
            <td>{{ cat.name }}</td>
            <td>{{ cat.urlName }}</td>
            <td>{{ cat.parentCategory.name }}</td>
            <td>
                <button class="btn btn-warning" (click)="openEditModal(editTemplate, cat)">Edit</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteSubCategory(cat)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group mb-3">
                <select class="custom-select" [(ngModel)]="subCatParent" name="subCatParent">
                    <option [ngValue]="cat" *ngFor="let cat of adminCategories">{{cat.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="subCatName">Title</label>
                <input [(ngModel)]="subCatName" name="subCatName" type="text" class="form-control" id="subCatName">
            </div>
            <div class="form-group">
                <label for="subCatURLName">URL Name</label>
                <input [(ngModel)]="subCatURLName" name="subCatURLName" type="text" class="form-control" id="subCatURLName">
            </div>
            <button *ngIf="!editStatus" (click)="addSubCategory()" type="button" class="btn btn-success">Add</button>
            <button *ngIf="editStatus" type="button" class="btn btn-info">Save</button>
        </form>
    </div>
</ng-template>


<ng-template #editTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="subCatName">Title</label>
                <input [(ngModel)]="subCatName" name="subCatName" type="text" class="form-control" id="subCatName">
            </div>
            <div class="form-group">
                <div class="form-group mb-3">
                    <select class="custom-select" [(ngModel)]="subCatParent" name="subCatParent">
                        <option [ngValue]="cat" *ngFor="let cat of adminCategories">{{cat.name}}</option>
                    </select>
                </div>
                <label for="subCatURLName">URL Name</label>
                <input [(ngModel)]="subCatURLName" name="subCatURLName" type="text" class="form-control" id="subCatURLName">
            </div>
            <button type="button" class="btn btn-info" (click)="updateSubCategory()">Save</button>
        </form>
    </div>
</ng-template>
