<a class="admin" [routerLink]="[ 'admin' ]">Admin</a>

<div class="bgr-nav">
    <nav role="navigation" class="burger-menu">
        <div id="menuToggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a [routerLink]="[ '/home' ]">
                    <li>Home</li>
                </a>
                <a [routerLink]="[ '/contacts' ]">
                    <li>Contacts</li>
                </a>
                <a [routerLink]="[ '/about' ]">
                    <li>About</li>
                </a>
                <a [routerLink]="[ '/blog' ]">
                    <li>Blog</li>
                </a>
                <a [routerLink]="[ '/distribution' ]">
                    <li>Distribution</li>
                </a>
            </ul>
        </div>
    </nav>
    <div class="contain">
        <nav class="navigation">
            <a class="nav__link" [routerLink]="[ 'home' ]">Home</a>
            <a class="nav__link" [routerLink]="[ 'contacts' ]">Contacts</a>
            <a class="nav__link" [routerLink]="[ 'about' ]">About</a>
            <a class="nav__link" [routerLink]="[ 'blog' ]">Blog</a>
            <a class="nav__link" [routerLink]="[ 'distribution' ]">Distribution</a>
        </nav>
    </div>
</div>
<div class="bgr-search">
    <div class="contain">
        <div class="search-bar">
            <button class="categories">Categories<img src="assets/images/down_arrow.svg" alt="Down Arrow"></button>
            <form class="widescreen-search" action="">
                <input class="search-bar__input" type="text">
                <button class="search-bar__btn">
                    <img src="assets/images/search_icon.jpg" alt="Search">
                </button>
            </form>
            <div class="search-bar__links">
                <a [routerLink]="[ '/path' ]" class="search-bar__link mobile-search">
                    <img src="assets/images/search_icon.jpg" alt="Search">
                    <form class="popup-search" action="">
                        <input class="search-bar__input" type="text">
                        <button class="search-btn"></button>
                    </form>
                </a>
                <a [routerLink]="[ '/cart' ]" class="search-bar__link"><img src="assets/images/cart_icon.svg" alt="Cart"><span
                        class="basket-count"></span></a>
                <a [routerLink]="[ '/wishlist' ]" class="search-bar__link"><img src="assets/images/heart_icon.svg" alt="Wishlist"></a>
                <a [routerLink]="[ '/path' ]"><span class="search-bar__link"><img src="assets/images/person_icon.svg"
                            alt="Sign Up/Log In"></span><span>Sign Up/Log In</span></a>
            </div>
        </div>
    </div>
</div>
