<div class="contain">
    <h2> Store Chain</h2>
    <ul>
        <li><a href="">All Cities</a></li>
        <li><a href="">Kyiv</a></li>
        <li><a href="">Lviv</a></li>
        <li><a href="">Dnipro</a></li>
        <li><a href="">Lutsk</a></li>
        <li><a href="">Rivne</a></li>
        <li><a href="">Kharkiv</a></li>
        <li><a href="">Ternopil</a></li>
    </ul>
    <div class="gen-contact-info">
        <h3>Internet store</h3>
        <a href="mailto:simething@something@.com.ua" class="site-url">order@book-ye.com.ua</a>
        <div class="info">
            <p>Графік роботи з 9.00 до 21.00 без вихідних</p>
            <p>0 (800) 33-05-66 (Дзвінки безкоштовні по Україні)</p>
            <p>0 (800) 33-41-59 (Самовивіз у м.Києві)</p>
        </div>
    </div>
    <div class="shop-list">
        <div class="shop">
            <div class="shop__info">
                <div class="shop__adress">Київ, вул. Лисенка, 3</div>
                <div class="shop__worktime">
                    <p class="shop__tel">(044) 235-88-50</p>
                    <p class="shop__time">графік: з 11:00 до 21:00, без вихідних</p>
                </div>
            </div>
            <img class="shop__image" src="assets/images/shop-kyiv-1.jpg" alt="shop-image">
        </div>
        <div class="shop">
            <div class="shop__info">
                <div class="shop__adress">Київ, вул. Лисенка, 3</div>
                <div class="shop__worktime">
                    <p class="shop__tel">(044) 235-88-50</p>
                    <p class="shop__time">графік: з 11:00 до 21:00, без вихідних</p>
                </div>
            </div>
            <img class="shop__image" src="assets/images/shop-kyiv-1.jpg" alt="shop-image">
        </div>
    </div>
</div>
