<div class="contain">
    <img src="assets/images/bookstore.jpg" alt="bookstore image">
    <h1>Book store «Книгарня «Є»</h1>
    <p>Мережа Книгарень «Є» має особливу концепцію, чітко визначену позицію. Ми вирізняємося серед більшості книжкових
        мереж тим, що просуваємо український продукт. Ця позиція відповідає очікуванням суспільства, адже, як
        засвідчують соціологічні дослідження, більшість українців надає перевагу україномовній книжці.</p>
    <p>Мережа Книгарень «Є» – це заохочення не тільки для покупця, а й для українського видавця, оскільки його книги
        посідають тут чільне місце. Цим Книгарня «Є» принципово відрізняється від більшості інших книжкових мереж в
        Україні, які цілеспрямовано просувають російську книгу.</p>
    <p>Відкритість до інших культур також вельми важлива, оскільки це запорука доступу до передових ідей світового
        рівня. Саме тому мережа книгарень «Є» прагне забезпечити великий вибір не тільки українських, а й іноземних книг
        мовами оригіналу.</p>
    <p>Першу книгарню мережі відкрито 21 грудня 2007 року в м. Києві (вул. Лисенка, 3). Менш ніж за рік книгарня набула
        репутації магазину з найбільшим вибором українських книг, приємним сервісом (місця для читання, Wi-Fi), а також
        стала відома киянам та гостям столиці як місце культурних зустрічей – презентацій книжок, круглих столів,
        літературних читань, дитячих заходів.</p>
    <p>На 15-му Форумі видавців у Львові (вересень 2008 р.) Книгарню «Є» визнано найкращою книгарнею в Україні,
        Книгарнею року. </p>
    <p>Мережа Книгарень «Є» має свої особливості, привабливі для покупця:</p>
    <pre>- найбільший в Україні вибір українських книг;
- книги іноземними мовами;
- відділ дитячої літератури (місце для ігор, дитячі іграшки);
- спеціально облаштовані місця для читання;
- безкоштовний Інтернет (Wi-Fi);
- платформи для культурних подій.</pre>
    <p>Інтернет-магазин книг "Книгарня "Є" пропонує українському читачеві найбільший вибір вітчизняної та іноземної
        літератури. Цінова політика онлайн-крамниці побудована на засадах справедливості й обґрунтованості в межах
        українського книжкового ринку. Тут ви можете придбати найрізноманітнішу літературу за найкращими цінами, зробити
        передзамовлення на ексклюзивні книжки, що продаються лише в нашій мережі, і відшукати старі видання, які вже
        втратили надію знайти. Ми дбаємо про те, аби читання було зручним і доступним.</p>
</div>