<div class="container">
    <div class="main-info">
        <div class="preview">
            <img src="assets/images/book-one.jpg" alt="preview">
            <div class="preview-item">
                <div class="preview-image-wrapper">
                    <img src="assets/images/book-one.jpg" alt="preview image 1">
                </div>
                <div class="preview-image-wrapper">
                    <img src="assets/images/book-two.jpg" alt="preview image 2">
                </div>
            </div>
        </div>
        <div class="pricing">
            <div class="pricing__context">
                <p class="availability">is available</p>
                <p class="price">000 grn</p>
                <button class="buy">buy</button>
                <a [routerLink]="[ '/path' ]">Add to wishlist</a>
            </div>
            <div class="pricing__footer">
                <div class="delivery"></div>
                <div class="payment"></div>

            </div>
        </div>
        <div class="info">
            <h2 class="name"></h2>
            <p id="product-code"></p>
            <div class="info__params">
                <div>
                    <span>Author:</span>
                    <a [routerLink]="[ '/path' ]"></a>
                </div>
                <div>
                    <span>Publisher:</span>
                    <a [routerLink]="[ '/path' ]"></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="info-navbar">
        <ul>
            <li><a href="#">About Book</a></li>
            <li><a href="#">About Author</a></li>
            <li><a href="#">Comments</a></li>
        </ul>
    </nav>
    <div class="detailed-info">
        <div class="detailed-info__content" id="book">
            <h3>Annotation</h3>
            <p id="description"></p>
        </div>
        <div class="detailed-info__content" id="author">
            <img src="assets/images/author-details-img.jpg" alt="book image">
            <div>
                <p id="author-name">Name</p>
                <button>Other books by this author</button>
            </div>
        </div>
        <div class="detailed-info__content" id="comments">
            <form action="">
                <div class="form-inputs">
                    <input type="text">
                    <input type="email" name="" id="">
                    <div class="product-rating"></div>
                </div>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button>Add comment</button>
            </form>
        </div>
    </div>

</div>