<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills">
                <a class="nav-link" [routerLink]="[ 'categories' ]" routerLinkActive="active">Categories</a>
                <a class="nav-link" [routerLink]="[ 'sub-categories' ]" routerLinkActive="active">Sub-Categories</a>
                <a class="nav-link" [routerLink]="[ 'products' ]" routerLinkActive="active">Products</a>
                <a class="nav-link" [routerLink]="[ 'filters' ]" routerLinkActive="active">Filters</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>