$red: rgb(198, 88, 88);
$nav-link-red: rgb(248, 71, 110);
$crimson: #bf0830;
$white: rgb(255, 255, 255);
$nav-bgr-color: #f5f4f0;
$black: #000;
$white: #fff;
$pale-grey: #f6f4f0;
$product-info-navbar: #ee8b8b;
$product-info-cont-brd: #eaeaea;
$product-info-form-brd: #f5f0f0;
$product-info-form-bg: #f7e8e8;
$catalogue-parameters-bg: #df032d;
$catalogue-navbar-bg: #e25757;
$grey-text: #656464;
