<div class="container">
    <div>
        <div class="slider"></div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="content__head">
            <p>New Releases</p>
            <div>
                <a [routerLink]="[ '/path' ]">See all</a>
                <button><span class="arrow left"></span></button>
                <button><span class="arrow right"></span></button>
            </div>
        </div>
        <div class="content__products">
            <div class="content__one-product">
                <a [routerLink]="[ '/path' ]"><img src="assets/images/book-one.jpg" alt="book cover image"></a>
                <a class="product-name" [routerLink]="[ '/path' ]">Name</a>
                <p class="author-name">Author</p>
                <p class="comments">Be the first to comment</p>
                <div class="rating">
                    <img src="assets/images/star_empty.svg" alt="1">
                    <img src="assets/images/star_empty.svg" alt="2">
                    <img src="assets/images/star_empty.svg" alt="3">
                    <img src="assets/images/star_empty.svg" alt="4">
                    <img src="assets/images/star_empty.svg" alt="5">
                </div>
                <div class="pricing">
                    <div class="product__price">
                        <p class="product__price-current">000 grn</p>
                    </div>
                    <a class="add-to-cart" [routerLink]="[ '/path' ]">
                        <img src="assets/images/cart_icon.svg" alt="cart">
                        <span>Buy</span>
                    </a>
                </div>
            </div>
            <div class="content__one-product">
                <a [routerLink]="[ '/path' ]"><img src="assets/images/book-one.jpg" alt="book cover image"></a>
                <a class="product-name" [routerLink]="[ '/path' ]">Name</a>
                <p class="author-name">Author</p>
                <p class="comments">Be the first to comment</p>
                <div class="rating">
                    <img src="assets/images/star_empty.svg" alt="1">
                    <img src="assets/images/star_empty.svg" alt="2">
                    <img src="assets/images/star_empty.svg" alt="3">
                    <img src="assets/images/star_empty.svg" alt="4">
                    <img src="assets/images/star_empty.svg" alt="5">
                </div>
                <div class="pricing">
                    <div class="product__price">
                        <p class="product__price-current">000 grn</p>
                    </div>
                    <a class="add-to-cart" [routerLink]="[ '/path' ]">
                        <img src="assets/images/cart_icon.svg" alt="cart">
                        <span>Buy</span>
                    </a>
                </div>
            </div>
            <div class="content__one-product">
                <a [routerLink]="[ '/path' ]"><img src="assets/images/book-one.jpg" alt="book cover image"></a>
                <a class="product-name" [routerLink]="[ '/path' ]">Name</a>
                <p class="author-name">Author</p>
                <p class="comments">Be the first to comment</p>
                <div class="rating">
                    <img src="assets/images/star_empty.svg" alt="1">
                    <img src="assets/images/star_empty.svg" alt="2">
                    <img src="assets/images/star_empty.svg" alt="3">
                    <img src="assets/images/star_empty.svg" alt="4">
                    <img src="assets/images/star_empty.svg" alt="5">
                </div>
                <div class="pricing">
                    <div class="product__price">
                        <p class="product__price-current">000 grn</p>
                    </div>
                    <a class="add-to-cart" [routerLink]="[ '/path' ]">
                        <img src="assets/images/cart_icon.svg" alt="cart">
                        <span>Buy</span>
                    </a>
                </div>
            </div>
            <div class="content__one-product">
                <a [routerLink]="[ '/path' ]"><img src="assets/images/book-one.jpg" alt="book cover image"></a>
                <a class="product-name" [routerLink]="[ '/path' ]">Name</a>
                <p class="author-name">Author</p>
                <p class="comments">Be the first to comment</p>
                <div class="rating">
                    <img src="assets/images/star_empty.svg" alt="1">
                    <img src="assets/images/star_empty.svg" alt="2">
                    <img src="assets/images/star_empty.svg" alt="3">
                    <img src="assets/images/star_empty.svg" alt="4">
                    <img src="assets/images/star_empty.svg" alt="5">
                </div>
                <div class="pricing">
                    <div class="product__price">
                        <p class="product__price-current">000 grn</p>
                    </div>
                    <a class="add-to-cart" [routerLink]="[ '/path' ]">
                        <img src="assets/images/cart_icon.svg" alt="cart">
                        <span>Buy</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="short-info">
        <div class="short-info__item red">
            <img src="assets/images/date.png" alt="date icon">
            <p>We work from 9:00am to 9:00pm without holidays</p>
        </div>
        <div class="short-info__item black">
            <img src="assets/images/book.png" alt="book icon">
            <p>Over 20 thousand books</p>
        </div>
        <div class="short-info__item red">
            <img src="assets/images/shop.png" alt="shop icon">
            <p>30 stores all over the country</p>
        </div>
        <div class="short-info__item black">
            <img src="assets/images/percent.png" alt="percent icon">
            <p>Regular discounts</p>
        </div>
    </div>

    <div class="subscription">
        <p class="sub-title">Subscibe and Recieve</p>
        <div class="subscription__info">
            <div class="subscription__info__elem">
                <div class="image-wrapper">
                    <img src="" alt="book icon">
                </div>
                <p>New releases</p>
            </div>
            <div class="subscription__info__elem">
                <div class="image-wrapper">
                    <img src="" alt="presentation icon">
                </div>
                <p>Future presentaitons</p>
            </div>
            <div class="subscription__info__elem">
                <div class="image-wrapper">
                    <img src="" alt="shop icon">
                </div>
                <p>New store openings</p>
            </div>
        </div>
        <form action="">
            <input type="text" placeholder="Enter your email">
            <input class="subscribe-button" type="button" value="Subscribe">
        </form>
    </div>
</div>