<footer>
    <div class="contain">
        <div class="footer__links">

            <div class="info">
                <p><a class="nav__link" [routerLink]="[ '/about' ]">About Us</a></p>
                <p><a class="nav__link" [routerLink]="[ '/path' ]">Site Rules</a></p>
                <p><a class="nav__link" [routerLink]="[ '/path' ]">Return & Refund</a></p>
                <p><a class="nav__link" [routerLink]="[ '/path' ]">Loyalty Programm</a></p>
            </div>
            <div class="info">
                <p><a class="nav__link" [routerLink]="[ '/contacts' ]">Bookstores</a></p>
                <p><a class="nav__link" [routerLink]="[ '/distribution' ]">Distribution</a></p>
                <p><a class="nav__link" [routerLink]="[ '/path' ]">Feedback</a></p>
                <p><a class="nav__link" [routerLink]="[ '/path' ]">Projects</a></p>
            </div>
            <div class="info">
                <p><a class="nav__link" [routerLink]="[ '/path' ]">Calendar</a></p>
                <p><a class="nav__link" [routerLink]="[ '/path' ]">Partners</a></p>
                <p><a class="nav__link" [routerLink]="[ '/path' ]">Problems with Orders</a></p>
                <p><a class="nav__link" [routerLink]="[ '/contacts' ]">Contacts</a></p>
            </div>
            <div class="info social-networks">
                <p>Social Networks</p>
                <div class="social-networks__icons">
                    <a href="#"><img src="assets/images/youtube_icon.png" alt="Youtube Icon"></a>
                    <a href="#"><img src="assets/images/facebook_icon.png" alt="Facebook Icon"></a>
                    <a href="#"><img src="assets/images/telegram_icon.png" alt="Telegram Icon"></a>
                    <a href="#"><img src="assets/images/Instagram_icon.png" alt="Instagram Icon"></a>
                </div>
                <div class="payment-logo">
                    <img src="assets/images/privat24_logo.png" alt="PrivatBank Logo">
                    <img src="assets/images/liqpay_logo.png" alt="LiqPay Logo">
                    <img src="assets/images/mastercard_logo.png" alt="Mastercard Logo">
                    <img src="assets/images/visa_logo.png" alt="Visa Logo">
                </div>
            </div>

        </div>

        <p class="footer__copyright">©2021</p>
    </div>
</footer>