<div class="container">
    <div class="sidebar">
        <form action="">
            <h2>Parameters</h2>
            <div class="filters">
                <h3>Language</h3>
                <label>
                    <input type="checkbox">
                    English
                </label>
                <label>
                    <input type="checkbox">
                    Ukrainian
                </label>
                <label>
                    <input type="checkbox">
                    Japanese
                </label>
                <label>
                    <input type="checkbox">
                    German
                </label>
            </div>
        </form>
    </div>
    <div class="products">
        <div class="navigation">
            <div class="sort">
                <button class="drop-btn">Sort by
                    <i class="fa fa-caret-down"></i>
                </button>
                
                <ul class="sort__content">
                    <li>Title</li>
                    <li>Price (Ascending)</li>
                    <li>Price (Descending)</li>
                    <li>New</li>
                    <li>Popular</li>
                </ul>
            </div>
            <button id="filter-btn">Filter</button>
            <div class="pagination">
                <p>Page</p>
                <a [routerLink]="[ '/path' ]">1</a>
            </div>
        </div>
    </div>
</div>
