@import '../../shared/styles/styles';

.container {
    display: flex;
}

.sidebar {
    width: 100%;
}

h2 {
    font-size: 18px;
    padding: 9px 3px;
    text-align: center;
    color: #fff;
    background-color: $catalogue-parameters-bg;
    margin: 0;
}

.filters {
    display: flex;
    flex-direction: column;
    padding: 24px 19px;
}

// ul {
//     margin: 12px;
//     padding: 0;
//     list-style: none;
//     width: 100%;
//     max-width: 320px;
//     li {
//         margin: 16px 0;
//         position: relative;
//     }
// }

label {
    width: fit-content;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'] {
        --active: #df032d;
        --active-inner: #fff;
        --focus: 2px rgba(235, 19, 19, 0.3);
        --border: #BBC1E1;
        --border-hover: #d60606;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 20px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0 10px 20px 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;
        &:before,
        &:after {
            box-sizing: inherit;
        }
        &:after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
        }
        &:checked {
            --b: var(--active);
            --bc: var(--active);
            --d-o: .3s;
            --d-t: .6s;
            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }
        &:hover {
            &:not(:checked) {
            &:not(:disabled) {
                --bc: var(--border-hover);
            }
            }
        }
        &:focus {
            box-shadow: 0 0 0 var(--focus);
        }
        &:not(.switch) {
            width: 21px;
            &:after {
            opacity: var(--o, 0);
            }
            &:checked {
            --o: 1;
            }
        }
    }
    input[type='checkbox'] {
        &:not(.switch) {
        border-radius: 2px;
        &:after {
            width: 5px;
            height: 9px;
            border: 2px solid var(--active-inner);
            border-top: 0;
            border-left: 0;
            left: 7px;
            top: 4px;
            transform: rotate(var(--r, 20deg));
        }
        &:checked {
            --r: 43deg;
        }
        }
    }
}
  
.navigation {
    height: 47px;
    background-color: $catalogue-navbar-bg;
    padding: 0 16px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort {
    position: relative;
    button {        
        width: 180px;
        height: 31px;
        border: none;
        padding: 0 20px 0 18px;
        text-align: start;
        background-color: $white;
        
        i {
            float: right;
        }

    }
}

.sort__content {
    // display: none;
    width: 100%;
    position: absolute;
    li {
        list-style-type: none;
    }

}

#filter-btn {
    width: 130px;
    height: 31px;
    border: none;
    margin-left: 10px;
    background: url("../../../assets/images/filter-icon.png") no-repeat $white;
    background-position: 5px center;
    background-size: 20px;
}

@media (min-width: 768px) {
    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {
    .sidebar {
        flex: 1;
    }
    .products {
        flex: 3;
    }
}
